# use the command below to remove the git file from the git repository
# git ls-files --ignored --exclude-standard | sed 's/.*/"&"/' | xargs git rm -r --cached

*.ini
~$*
.Rproj.user
.Rhistory
.RData
*.tmp
*.log
final_report_Raffertys_edits_for_Vector_files/figure-latex/Auckland_power-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/acf_consum-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/acf_petrol-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/consum_decomp_plot-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/consum_den-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/consum_HDD_plot-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/consum_plot-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/kea_power_usage-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/NZ_power-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/NZ_region_power_prop-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/petrol_ts-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/petrol_VKT_vs_eff-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/temp_consum_plot-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/tui_power_usage-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/vehicle_consum-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/vehicle_power_usage-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/vehicle_power_usage_auck-1.pdf
final_report_Raffertys_edits_for_Vector_files/figure-latex/VKT_ts-1.pdf
